{{- /* portrait: avatar photo and duck easter egg */ -}}
{{- $hp := partial "homepage-data.html" . -}}
<div class="row portrait-row no-dot">
    <button class="portrait" id="portrait" type="button" aria-label="{{ i18n "portrait_label" }}" aria-keyshortcuts="Enter Space">
      <img class="portrait-photo" src="{{ $hp.sidebar.avatar | relURL }}" alt="" width="324" height="324" fetchpriority="high">
      <img class="portrait-duck" src="/general/duck_mascot.svg" alt="" width="216" height="216" hidden>
    </button>
    <audio id="quack" src="/general/duck_quack.mp3" preload="none"></audio>
  </div>